version: '3.8'

services:
  web:
    build: ./services/web
    image: easyflask:latest
    container_name: easyflask
    environment:
      FLASK_APP: project/app.py
      FLASK_ENV: development
    depends_on:
      - database
    command: ["./scripts/command-dev.sh"]
    volumes:
    - ./services/web/project:/home/admin/app/project
    - ./services/web/manage.py:/usr/src/app/manage.py
    ports:
    - 5010:5000

  database:
    image: mariadb:10.2-bionic
    container_name: easyflask-mariadb
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: easyflask
      MARIADB_USER: flaskuser
      MARIADB_PASSWORD: mariadb
    ports:
      - 3306:3306
