# Last update: added Flask-Migrate package

# A lightweight WSGI web application framework
Flask==2.0.0

# SQLAlchemy database migrations for Flask applications using Alembic
Flask-Migrate==3.0.1

# An extension for Flask that adds support for SQLAlchemy
Flask-SQLAlchemy==2.5.1

# Simple integration of Flask and WTForms, including CSRF, file upload, and reCAPTCHA
Flask-WTF==0.15.1

# Python WSGI HTTP Server
gunicorn==20.0.4

# Pure-Python MySQL client library,
PyMySQL==1.0.2
